{% include './nav.html' %}
{% block content %}
{% load bootstrap3 %}
{% load static %}
<link rel="stylesheet" href="{% static 'contact.css' %}">
<link rel="icon" type="x-icon" href="{% static './images/LOGO.png' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
        h1 {
      color: rgb(14, 70, 39);
      text-align: left;
    }

    .warning {
      color: red;
      font-weight: bold;
      text-align: center;
    }
    .card{
      margin-left:410px;
      margin-top: 20px;
      color: white;
    }
    .container{
      font-weight: bold;
      padding-bottom:10px;
      border-radius: 15px;
   
    }
    #card{
      margin-top: 1.5em;
      margin-left: 0.7em;
      margin-right: 0.7em;
      padding-right: 0.3em;
      padding-bottom:2em;
      margin-bottom: 9em;
      padding-top: 0.2em;
      padding-left: 0.9em;
      color: #080808;
      background-color: rgb(235, 247, 238);;
      width: auto;
      border-radius: 15px;
 
    } 

    body {
      padding: 0;
      margin: 0;
      
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      background-color: #DDD;
    }

    .navbar {
      border-bottom: 1px solid #0b5020;
    }

    .nav-link {
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: none;
      color: #03440d;
      padding: 20px 0px;
      margin: 0px 20px;
      display: inline-block;
      position: relative;
      opacity: 0.75;
    }

    .nav-link:hover {
      opacity: 1;
      
    }

    .nav-link::before {
      transition: 300ms;
      height: 6px;
      content: "";
      position: absolute;
      background-color: #042809;
      margin-top: 0.2em;
    }

    .nav-link-ltr::before {
      width: 0%;
      bottom: 10px;
    }

    .nav-link-ltr:hover::before {
      width: 100%;
    }

</style>
<body  style="background-image: url(/static/farm.jpg);  background-repeat: no-repeat;
background-attachment: fixed; height: 100vh; background-position: center; background-size: cover;">

<div id="card" class="container my-5 mt-5 bg-light">
    <h1>About us</h1>
    <h3>Name : Girija Kangutkar</h3>
    <P>Phone number : 1234567890</P>
    <P>Email address : en20135811@git-india.edu.in</P>
    <div class="col-md-12 text-center"> 
      <a style='float: left; padding:5px;'href="https://github.com/girijakangutkar"><i class='fa fa-github'></i></a>
      <a style='float: left; padding:5px;'href="https://in.linkedin.com/in/girija-kangutkar-47a83b279"><i class='fa fa-linkedin-square'></i></a>
      <a style='float: left;padding:5px;'href="https://girija-kangutkar-portfolio.w3spaces.com/"><i class='fa fa-user'></i></a>
      <a style='float: left;padding:5px;'href="https://www.instagram.com/ginnny.g/"><i class='fa fa-instagram'></i></a>
      <a style='float: left;padding:5px;'href="https://www.behance.net/girijakangutkar"><i class='fa fa-behance'></i></a>
      <a style='float: left;padding:5px;'href="https://drive.google.com/file/d/1yPHsbQ9EVFtHRYwSbArv4YS35EIJjRFu/view"><i class='fa fa-black-tie'></i></a>    
  </div>
    <br>

    <h3>Name : Gauri Kangutkar</h3>
    <P>Phone number : 1234567890</P>
    <P type="email">Email address : en20138438@git-india.edu.in</P>
    <div class="col-md-12 text-center"> 
      <a style='float: left; padding:5px;'href="https://github.com/Gauri-Kangutkar"><i class='fa fa-github'></i></a>
      <a style='float: left; padding:5px;'href="https://in.linkedin.com/in/gauri-kangutkar-654745280"><i class='fa fa-linkedin-square'></i></a>
      <a style='float: left;padding:5px;'href=""><i class='fa fa-user'></i></a>
      <a style='float: left;padding:5px;'href="https://www.instagram.com/gaurii_02/"><i class='fa fa-instagram'></i></a>
      <a style='float: left;padding:5px;'href=""><i class='fa fa-black-tie'></i></a>    
    </div>
    <br>

    <h3>Name : Tejas Padte</h3>
    <P>Phone number : 1234567890</P>
    <P>Email address : en20227743@git-india.edu.in </P>
    <div class="col-md-12 text-center"> 
      <a style='float: left; padding:5px;'href=""><i class='fa fa-github'></i></a>
      <a style='float: left; padding:5px;'href="https://www.linkedin.com/in/tejas-padte-642928250"><i class='fa fa-linkedin-square'></i></a>
      <a style='float: left;padding:5px;'href="https://www.instagram.com/t_e_j__a_s?igsh=czM0a21pa2V4N2R4"><i class='fa fa-instagram'></i></a>
      <a style='float: left;padding:5px;'href=""><i class='fa fa-black-tie'></i></a>    
    </div>
    <br>

    <h3>Name : Omkar More</h3>
    <P>Phone number : 1234567890</P>
    <P>Email address : en20198727@git-india.edu.in </P>
    <div class="col-md-12 text-center"> 
      <a style='float: left; padding:5px;'href=""><i class='fa fa-github'></i></a>
      <a style='float: left; padding:5px;'href=""><i class='fa fa-linkedin-square'></i></a>
      <a style='float: left;padding:5px;'href="https://www.instagram.com/mo.omkar12/"><i class='fa fa-instagram'></i></a>
      <a style='float: left;padding:5px;'href=""><i class='fa fa-black-tie'></i></a>    
    </div>
</div>
</body>

{% include './footer.html' %}
{% endblock %}
