{% load bootstrap3 %}
{% load static %}
<link rel="stylesheet" href="{% static 'footer.css' %}">
<!-- footer -->
<footer class="foot_sec" style="margin-top: 20%;">
    <div class="foot_top">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="foot_left">
              <img style="padding-left: 40px; margin-left: 60px;" src="{% static 'Dapoli_logo.png' %}" alt="Not available">
              <p><em>डॉ बाबासाहेब सावंत कोकण कृषी विद्यापीठ, दापोली.</em></p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="foot_left">
              <img src="{% static 'krushi.png' %}" alt="Not available">
              <p style="padding-left: 30px;"><em>प्राणों वा अन्नम् |</em></p>
             
            </div>
          </div>

          <div class="col-md-6">
            <div class="foot_rt">
              <h3>CONTACTS</h3>
              <p>
                <span>Address: </span>
                <b>Gharda Institute of Technology.</b><br>
                Mumbai -Goa Highway 
                A/P: Lavel  Taluka: Khed   |  District: Ratnagiri Pin-415708 | Maharashtra | India 
              </p>
              <p>
                <span>Phone: </span>
                <a href="tel:#">(123) 731-4000</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="foot_btm">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p><a href="#">Electronincs and Telecommunications</a> © 2023</p>
          </div>
          <div class="col-md-6">
            <p>Design and Development By <a href="#">GOT B.E 2023-24</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>


   <!--अत्रं न निन्दाऱत् । तदृब्रतम् । प्राणों वा अन्नम् ।
शरीरमन्नादम् । प्राणे’ शरीर प्रतिष्ठितम् ।
अत्रं बहु कुर्वीत । तदृव्रतम् । पृथिवी वा अन्नम् ।
– तैत्तिरीयोपनिषद अनुवाक 9
Translation:
Let us not condemn (waste) food, that is our vow. Prana (Life force) is in, and is, food.
Body is in, and is, food. Prana lives in the body.
Let us make food in plenty, that is our vow. This Earth is our giver of food.
~ Taittiriya Upanishad – Verse 9-->